---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "theme";

.cv {
    h1 {
        font-weight: 800;
    }
    h2 {
        font-weight: 700;
    }
    h3 {
        font-weight: 600;
    }
    h4 {
        font-weight: 500;
    }
    h5 {
        font-weight: 400;
    }
}