<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Steve Jenkins | {{title}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <!--<script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "http://www.example.com",
        "name": "Unlimited Ball Bearings Corp.",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+1-401-555-1212",
          "contactType": "Customer service"
        }
      }
    </script>-->
</head>

<body>
    <nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <i class="fas fa-home"></i>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/about-me">About Me</a>
            </div>
            <div class="navbar-title has-text-centered navbar-item is-size-4">
                {{title}}
            </div>
            <dv class="navbar-end is-hidden-mobile"></dv>
        </div>
    </nav>

    <section class="section" style="margin-top: 1em;">
        <div class="container">

        </div>
    </section>
</body>

</html>